---
import { getTranslator } from '@/i18n/server';
import Layout from '@/layouts/layout.astro';

const { t } = getTranslator(Astro.url);
---

<Layout title={t('home.title')} description={t('site.description')}>
  <main>
    <h1>{t('home.heading')}</h1>
  </main>
</Layout>
